.ResizableBox {
  border: 2px solid #000;
} 

.selected {
  font-weight: bold;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background: #3f3296;
  color: white;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.left-box {
  width: 100%;
  background-color: #3f3296;
  color: white;
  overflow: auto; /* Allow scrolling if content overflows */
  border: 2px solid #000;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take remaining width */
  border: 2px solid #000;
}

.top-right-box,
.bottom-right-box {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take remaining width */
  background-color: #3f3296;
  color: white;
  overflow: auto; /* Allow scrolling if content overflows */
  border: 2px solid #000;
}

/* Your specified styles for labels, inputs, buttons, etc. go here */
